
.move_cursor {
    cursor: move;
}






.controls_container {
  display: grid;
  /* grid-template-columns: 1fr 1fr;  */
  gap: 20px; 
  padding: 0 10px 0 10px;
  width: 100%;
  /* margin-left:10%; */

}


.slider {
    padding: 0 0 0 0;
    height: 22px !important;
    margin: 0 0 0 0;
    margin-bottom: .5em;

}

.control-indicator {
    margin: 0px 5px 0 0;
}

@media (max-width: 400px) {
  .controls_container {
    grid-template-columns: 1fr; /* Stack columns on top of each other on smaller screens */
    width: 100%;
      /* margin-left:0%; */

  }

    .slider_text {
        /*        position: relative !important;*/

        left: 0% !important;
        width: 100% !important;
        text-align: center !important;
        color: #fff;
        /*        padding: 1em 0 1em 0 !important;*/
        /*line-height: 1.1em;*/
    }

    .segmented_control_text {
        display: none;
    }

}





.text_group {
    display: flex; 
    justify-content: left;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

.text_input {
    margin: 5px 5px;
    padding: 0px 0 0px 0;
    /* width: 100%; */
    max-width: 380px;
    /* top: 10px; */
    /* display: absolute;  */
    /* left:20%; */
    /* align-items: center;  
    text-align: center; */

}

.long_slider .slider_container {
    max-width: 100%;
}

.slider {
    text-align: center;
    font-size: 1em;
    margin: 5px 0 20px 0;
    padding: 0px 0 10px 0;
    position: relative;
    flex-grow: 1; /* Allow the slider to grow to fill space */
}

.slider p {
    font-size: .7em;
    margin: 0px;
    padding: 0px;
}

.slider:hover .slider_right_gutter {
    /*background: #fff;*/
    /*            box-shadow: #fff 0 0 0px 3px;*/

}

.slider:hover .slider_left_gutter {
    /*background: #fff;*/
    /*            box-shadow: #fff 0 0 0px 3px;*/

}

.slider:hover .slider_knob {
    /*background: #e8e8e8;*/

}
.indicator_value {
    position: relative;
    top: 0; 
    left:50%;
    z-index: 21;
    font-size: .7em;
    padding: 0em 0 0em 0;

    text-align: right;
}

.slider_text {
    /* position: absolute; */
    /* bottom: 100%;  */
    /* left: 0; */
    width: 20%;
    font-size: .7em;

    text-align: right;
    position: relative;
    padding: 0em 0 0em 0;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
    z-index: 20;
}

.slider_left_gutter,
.slider_right_gutter,
.slider_knob {
    transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
    position: absolute;
    top: -9px;
    box-shadow: #ddd 0 0 0px 2px;

}

.slider_left_gutter {
    background: #4377df;
    z-index: 18 !important;
}

.slider_left_gutter,
.slider_right_gutter {
    height: 18px;
    border-radius: 20px;
    font-size: .4rem;
}

.slider_right_gutter {
    opacity: 1;
    background-color: rgb(234, 234, 234);
    z-index: 17;

}

.slider_knob {
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: ew-resize;
    touch-action: none;
    left: -11px;
    top: -10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 22;
}

.temp .slider_left_gutter {
    background: #4377df;
    box-shadow: #eaeaea 0 0 0px 2px;
}

.temp .slider_right_gutter {
    background: rgba(255, 13, 13, 0.5);
    box-shadow: #eaeaea 0 0 0px 2px;
}


.slider_orange .slider_knob {
    background: #f6710c;
    box-shadow: rgba(255, 255, 255, 0.85) 0 0 0px 1px;

}


.slider_yellow .slider_knob {
    background: #f3b044;
    box-shadow: rgba(255, 255, 255, 0.85) 0 0 0px 1px;

}

.slider_red .slider_knob {
    background: rgb(212, 0, 0);
    box-shadow: rgba(255, 255, 255, 0.85) 0 0 0px 1px;

}

.slider_blue .slider_knob {
    background: rgb(49, 119, 231);
    box-shadow: rgba(255, 255, 255, 0.85) 0 0 0px 1px;
}


.post_title {
    font-size: 2.4em;
    padding-top: 0.4em;
}

.post_title a {
    color: #535353;
    text-decoration: none;
    font-weight: 700;
}

.post_title a:visited {
    color: #535353;
}

.post_title a:hover {
    color: #777;
}

.post_date,
.archive_date {
    color: #aaa;
}

.highlight,
pre {
    margin: 0 auto;
    font-size: 1.05em;
}

.highlight > pre.chroma,
.highlight > div.chroma {
    padding: 0.5em;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.highlight {
    margin: 1em auto;
    padding: 0em;
    background-color: #fff;
    border-radius: 8px;
    border: #eaeaea 2px solid;
}

blockquote {
    margin-left: 2.5em;
    padding-left: 1em;
    font-style: italic;
    position: relative;
    border-left: #eaeaea 4px solid;
}

.sqrt {
    position: relative;
    margin-left: 12px;
}

.sqrt:after {
    position: absolute;
    content: '';
    width: 25px;
    left: -12px;
    top: 0px;
    height: 23px;
    background-image: url('../images/sqrt.svg');
}

.drawer_container {
    width: 100%;
    height: auto;
    position: relative;
    margin: 2.3em auto 1em auto;
    padding: 0;

    /*border-radius: 20px; !* Adjust the px value to increase or decrease the roundness *!*/
    /*box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); !* This creates the inset shadow *!*/

    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.drawer_container:after {
    padding-top: 66%;
    display: block;
    content: '';
}

.full_width {
    max-width: 100%;
}

.ratio_20:after {
    padding-top: 20%;
}

.ratio_30:after {
    padding-top: 30%;
}

.ratio_40:after {
    padding-top: 40%;
}

.ratio_50:after {
    padding-top: 50%;
}

.ratio_60:after {
    padding-top: 60%;
}

.ratio_70:after {
    padding-top: 70%;
}

.ratio_80:after {
    padding-top: 80%;
}

.ratio_90:after {
    padding-top: 90%;
}

.ratio_100:after {
    padding-top: 100%;
}

.ratio_110:after {
    padding-top: 110%;
}

.ratio_120:after {
    padding-top: 120%;
}

.ratio_130:after {
    padding-top: 130%;
}

.archive_title {
    font-size: 2.5em;
    padding-top: 1em;
}

.archive_year {
    font-size: 1.8em;
    padding: 1.4em 0 0.5em 0;
}

.archive_entry {
    padding: 0.8em 0;
    position: relative;
}

.archive_date {
    position: absolute;
    line-height: 1.5em;
    height: 1.5em;
    bottom: 0.7em;
}

.archive_link {
    padding: 0em 0em 0em 3em;
    font-size: 1.5em;
}

.archive_link a {
    color: #535353;
    text-decoration: none;
    font-weight: 700;
}

.archive_link a:visited {
    color: #999;
}

.archive_link a:hover {
    color: #777;
}


.hanchor {
    font-size: 100%;
    visibility: hidden;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover .hanchor,
h5:hover .hanchor {
    visibility: visible;
}

.hanchor img {
    display: inline;
    vertical-align: middle;
    padding: 0.0em 0.2em;
}

.hidden {
    display: none;
}

.nobreak {
    white-space: nowrap;
}

.click_word {
    display: initial;
}

.tap_word {
    display: none;
}

.rounded_bg {
    position: relative;
    padding: -0.2em 0.3em;
    border-radius: 0.2em;
    background: #eee;
    margin: 0.0em 0.05em;
}

.fainter {
    opacity: 0.75;
}

.dotted {
    background-image: linear-gradient(to right, rgba(68, 68, 68, 1) 50%, rgba(68, 68, 68, 0) 0%);
    background-position: 0px 1.15em;
    background-size: 4px 2px;
    background-repeat: repeat-x;
}

.move_cursor {
    cursor: move;
}

.drag_div {
    position: absolute;
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.metric_word {
    display: initial;
}

.imperial_word {
    display: none;
}

.show_imperial .metric_word {
    display: none;
}

.show_imperial .imperial_word {
    display: initial;
}

.non_selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.equation {
    font-size: 1.42em;
    font-weight: 500;
    overflow-x: auto;
    overflow-y: visible;
    margin: -0.5em auto;
    text-align: center;
    padding: 1.5em 1em;
    line-height: 1.8em;
    white-space: nowrap;
}

.equation span {
    display: inline-block;
}

.equation_frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}

.equation_frac span {
    display: inline-block;
}

.equation_frac > span {
    display: block;
    margin-top: -0.3em;
    margin-bottom: -0.1em;
}

span.equation_div_symbol {
    font-size: 0;
    display: block;
    height: 2px;
    width: 100%;
    background: #444;
}

.play_pause_button,
.restart_button,
.undo_button {
    position: absolute;
    width: 44px;
    height: 44px;
    bottom: 0px;
    left: 0px;
    background-image: url('images/play_pause.png');
    background-repeat: no-repeat;
    background-size: 132px 44px;
    background-position: -44px 0px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    touch-action: manipulation;
}

.undo_button {
    background-image: url('/images/undo.png');
    background-size: 44px 44px;
    background-position: 0px 0px;
}

.play_pause_button.white,
.restart_button.white {
    background-image: url('/images/play_pause_white.png');
    background-color: rgba(255, 255, 255, 0.05);
}

.play_pause_button:hover,
.restart_button:hover,
.undo_button:hover {
    opacity: 0.8;
}

.restart_button {
    background-position: -88px 0px;
    left: 50px;
    /*top: 0px;*/
}

.play_pause_button.playing {
    background-position: 0px 0px;
}

.lns_segmented {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.segmented_control_container {
    background: #ddd;
    height: 22px;
    text-align: center;
    /*text-transform: uppercase;*/
    position: relative;
    border-radius: 10px;
    margin-bottom: .5em;
    user-select: none;
    max-width:380px;
    

    margin: 2px 20%;
    /* padding: 10px 0px 0px 0; */
    width: 100%;
    max-width: 380px;
    /* position: absolute; */
    top: -22px;
    display: flex; 
    align-items: center;  
    justify-content: center;


    /* display: absolute; */
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.segmented_control_container_vert {
    background: #ddd;
    height: 100px;
    /*text-transform: uppercase;*/
    position: relative;
    border-radius: 20px;
    margin-bottom: 1em;
    user-select: none;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.segmented_control_text {
    position: absolute;
    bottom: 100%; /* Position text above the slider */
    width: 25%;
    font-size: .7em;
    right: -30%;
    padding: .2em 0 0em 0;
    text-align: left;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
    z-index: 2;
}

.segmented_control_on,
.segmented_control_off {
    transition: .4s;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    height: 18px;
    cursor: pointer;
    font-size: 10px;
    line-height: 18px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.segmented_control_on {
    background: #4377df;
    color: #fff;
}

.segmented_control_off {
    background: #FFF;
}

.segmented_control_off:hover {
    background: #e8e8e8;
}

.dark .segmented_control_container {
    background: #111;
}

.dark .segmented_control_on {
    background: #272727;
}

.dark .segmented_control_off:hover {
    background: #2c2c2c;

}

.dark_light_bg h2 {
    color: #ddd;
}

.dark_light_bg h1 {
    color: #ddd;
}

.dark_light_bg title {
    color: #ddd;
}

.dark_light_bg h3 {
    color: #ddd;
}

.dark_light_bg h4 {
    color: #ddd;
}

.dark_light_bg .p {
    color: #fff;
}


.dark_light_bg {
    background: black;
    color: #ddd;

    width: 100%;
    max-width: 100%;
    /*margin-top: 0;*/
    /*padding: 0;*/

    border-radius: 20px; /* Adjust the px value to increase or decrease the roundness */
    box-shadow: 0 0 5px rgba(0, 0, 0, .5); /* This creates the inset shadow */

}

.downloadButton {
    background-color: #cccccc; /* A sleek, vibrant green */
    border: none; /* No borders for a flat design */
    color: white; /* White text for contrast */
    padding: 3px 5px; /* Adequate padding for a comfortable click area */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underlines */
    display: inline-block; /* Align buttons side by side */
    font-size: .5em; /* Comfortable font size */
    margin: 4px 2px; /* Margins for spacing around buttons */
    transition-duration: 0.1s; /* Smooth transition for hover effects */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 2px; /* Slightly rounded corners for a modern feel */
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.downloadButton:hover {
    background-color: #4377df; /* Slightly darker shade on hover */
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); !* Subtle shadow for depth *!*/
}

@media (pointer: coarse) {
    .click_word {
        display: none;
    }

    .tap_word {
        display: initial;
    }
}

@media (hover: none) {
    .hanchor {
        display: none;
    }
}

.pagination {
    position: relative;
    padding: 2em 0;
    text-decoration: none;
}

.pagination a,
.pagination a:visited {
    padding: 0 1em;
    color: #888;
    text-decoration: none;
}

.pagination a:hover {
    color: #aaa;
    text-decoration: none;
}

.pagination .older_entries {
    position: absolute;
    left: 0;
}

.pagination .newer_entries {
    position: absolute;
    right: 0;
}

.canvas_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.medium_drawer {
    max-width: 600px;
}

.small_drawer {
    max-width: 400px;
}

.square_drawer:after {
    padding-top: 100%;
}

@media only screen and (max-width: 760px) {
    #site_title {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 450px) {
    #banner_wrapper,
    .bg_content {
        padding: 0 1.2em;
    }

    .article > *,
    #archive {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    .padding_wrapper {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    .article ul {
        padding-left: 2em;
    }

    #social a {
        margin: 0 -3px;
    }

    /*p {*/
    /*    font-size: 1.1em;*/
    /*    line-height: 1em;*/
    /*}*/
    .article .img_border {
        border: #fff 10px solid;
    }

    blockquote {
        margin-left: 1.0em;
    }

    .segmented_control_on,
    .segmented_control_off {
        font-size: 12px;
    }
}

@media only screen and (max-width: 350px) {
    p {
        font-size: 1.0em;
        line-height: 1.1em;
    }

    #navigation a {
        padding-right: 1em;
    }

    #social a {
        margin: 0 -5px;
    }

    #banner_wrapper,
    .bg_content {
        padding: 0 1em;
    }

    .article > *,
    #archive {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .padding_wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .segmented_control_on,
    .segmented_control_off {
        font-size: 16px;
    }
}

@media only screen and (max-width: 520px) {
    .slider_container {
        max-width: 320px;
    }


    .long_slider .slider_container {
        max-width: 320px;
    }
}

@media only screen and (max-width: 420px) {
    .slider_container {
        max-width: 300px;
    }

    .long_slider .slider_container {
        max-width: 300px;
    }
}

@media only screen and (max-width: 360px) {
    .slider_container {
        max-width: 260px;
    }

    .long_slider .slider_container {
        max-width: 260px;
    }
}

.drawer_container {
    padding: 0;
}

table {
    font-family: Menlo, sans-serif !important;
    /*Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;*/
    font-size: .8em;
    line-height: 1.1em;
    margin: 1em auto;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 20px;
}

td {
    padding: 0 0.5em;
}



table td:nth-child(3) {
    text-align: end;
}

tr td:first-child {
    /* font-weight: bold !important; */
}


.indicator-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  margin-left: 5px;
}
.indicator-dot.match {
  background-color: #3177e7;
}
.indicator-dot.mismatch {
  background-color: red;
}


/* Make all groups behave like the text inputs do */

.seg_group.group,
.text_group.group,
.checkbox_group.group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}




.slider_container0,
.segmented_control_container {
  position: static;
  top: auto;
  margin: 5px 0;

}

.slider_group.group {
    position: relative;
    display:static; 
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    padding: 0;
    /* flex:1; */
    /* flex-direction: row; */
    .slider_text{
        position:absolute;
        top:-2px;  

    }
   .indicator_value {
       position:absolute;
       top:-2px;  
       right:15%;
    }
   .indicator-dot {
        position: absolute;
        left:20%;
        
   }
}

  /* This parent simply provides the needed height and layout
     without overriding the slider's own absolute positioning. */
  .slider_wrapper {
    position: absolute;
    left:22%;
    top:0;
    padding: 0;
    min-height: 24px;   
    width: 100%;  
    margin-left: 8px;
    
  }
  .slider_container {
    margin: 0px 0%;
    padding: 0px 0px 0px 0;
    width: 100%;
    max-width: 380px;
    left:0%;

    top:5px;   
    position: absolute;
    display: flex; 
    align-items: center;  
    height: 100% !important;

}

