/* /static/base.css */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #F8F8F8;
    color: #444;
    font-family: 'Atkinson Hyperlegible', "Helvetica Neue", sans-serif;
}

h1 h2 h3 h4 h5 h6 {
    font-weight: 700;
    color: #333;
    
}

h1, h2 {
    margin: 0 !important;
    padding: 0 !important;
}

/* Basic table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0.5em 0;


}
table, th, td {

}

th, td {
    padding: 0.5em;
    text-align: left;
    border-bottom: .5px solid #ccc;
}

/* Other general styles... */


/* /static/base_extra.css */
.panel {
    margin: 1em auto;
    max-width: 44rem;
    padding: 1em;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.panel-plot {
    padding-bottom: 50px;
    height:550px;
}

/* Flexbox grid system */
[class*="col-"] {
    flex: 1;
    padding: 0.5em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5em;
}

.col-1 { flex: 0 0 8.33%; max-width: 8.33%; }
.col-2 { flex: 0 0 16.66%; max-width: 16.66%; }
.col-3 { flex: 0 0 25%; max-width: 25%; }
.col-4 { flex: 0 0 33.33%; max-width: 33.33%; }
.col-5 { flex: 0 0 41.66%; max-width: 41.66%; }
.col-6 { flex: 0 0 50%; max-width: 50%; }
.col-7 { flex: 0 0 58.33%; max-width: 58.33%; }
.col-8 { flex: 0 0 66.66%; max-width: 66.66%; }
.col-9 { flex: 0 0 75%; max-width: 75%; }
.col-10 { flex: 0 0 83.33%; max-width: 83.33%; }
.col-11 { flex: 0 0 91.66%; max-width: 91.66%; }
.col-12 { flex: 0 0 100%; max-width: 100%; }